<html>

<head>
    <!-- Title -->
    <title>Peperworx Entertainment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Style Includes -->
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/home.css" rel="stylesheet">
    <link href="/static/css/aos.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.css" rel="stylesheet">
    <link href="/static/css/simple-scrollbar.css" rel="stylesheet">

    <!-- Script includes -->
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/aos.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/particles.min.js"></script>
    <script src="/static/js/simple-scrollbar.min.js"></script>
    {% include 'matomo.html' %}
    <script src="/static/js/jquery-ui.js"></script>
</head>

<body>
    <div id="loader"></div>
    <div id="particles-js">

    </div>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto" id="header">
            <div class="inner">
                <h3 class="masthead-brand"><img id="titleLogo" src="/static/img/logo.jpg">Peperworx</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active homeBtn" :href="nav1.link" v-on:click="togglebtn1">[% nav1.text %]</a>
                    <a class="nav-link ourGamesBtn" :href="nav2.link" v-on:click="togglebtn2">[% nav2.text %]</a>
                    <a class="nav-link" href="https://user.peperworx.com/login">Login</a>

                </nav>
            </div>
        </header>

        <main role="main" id="main" class="inner cover">
            <div id="homePage" class="page w3-center">
                <h1 class="cover-heading">[% box1.title %]</h1>
                <p class="lead">[% box1.text %]
                </p>
                <p class="lead">
                    <a :href="button1.link" :style="button1.display" class="btn btn-lg btn-secondary ourGamesBtn">
                        [% button1.text %]</a>
                </p>
            </div>
            <div id="ourGamesPage" class="page">
                <h1 class="cover-heading">[% box2.title %]</h1>
                <p class="lead">
                    [% box2.text %]
                    <br>

                </p>
                <p class="lead">
                    <a :href="button2.link" :style="button2.display" class="btn btn-lg btn-secondary">
                        [% button2.text %]</a>
                </p>
            </div>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">

            </div>
        </footer>

    </div>
    <script src="/static/js/main.js"></script>
</body>

</html>