<html>

<head>
    <!-- Title -->
    <title>Peperworx Entertainment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Style Includes -->
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/home.css" rel="stylesheet">
    <link href="/static/css/aos.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.css" rel="stylesheet">

    <!-- Script includes -->
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/aos.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/particles.min.js"></script>
    {% include 'matomo.html' %}
</head>

<body>
    <div id="particles-js">

    </div>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand"><img id="titleLogo" src="/static/img/logo.jpg">Peperworx</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active homeBtn">Home</a>
                    <a class="nav-link ourGamesBtn">Our Services</a>
                    <a class="nav-link" href="https://user.peperworx.com/login">Login</a>

                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <div id="homePage" class="page w3-center">
                <h1 class="cover-heading">We are Peperworx</h1>
                <p class="lead">Peperworx is an Inovation Lab. We are a small team based in
                    Culpeper Virginia that develops new software and gaming concepts.
                </p>
                <p class="lead">
                    <!-- <a href="#" class="btn btn-lg btn-secondary ourGamesBtn">About Our Games</a> -->
                </p>
            </div>
            <div id="ourGamesPage" class="page">
                <h1 class="cover-heading">Our Services</h1>
                <p class="lead">
                    No services have yet been released to the public, however, we are currently working on anopen/closed
                    beta solution so that the general public may play and test video games and other software that we
                    develop before a full release. This
                    solution will include a launcher, that we will allow thrid party developers to publish games on.
                    <br>

                </p>
                <p class="lead">
                    <a href="/launcher" class="btn btn-lg btn-secondary">Learn about the Peperworx Launcher</a>
                </p>
            </div>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">

            </div>
        </footer>

    </div>
    <script src="/static/js/main.js"></script>
</body>

</html>