<html>

<head>
    <!-- Title -->
    <title>Peperworx Entertainment</title>

    <!-- Style Includes -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/aos.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/jquery-ui.css" rel="stylesheet">

    <!-- Script includes -->
    <script src="/js/vue.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/particles.min.js"></script>

</head>

<body>


    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand"><img id="titleLogo" src="/img/logo.jpg">Peperworx</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active homeBtn" href="/">Home</a>


                </nav>
            </div>
        </header>

        <article class="w3-center">
            <p>
                The Peperworx game launcher is a platform that is currently being built to distribute games and other
                software, both from Peperworx, and other third party developers. On release, this game launcher will be
                published to the OpenSource community. This launcher will enable us and third party developers to
                publish applications to a cross-platform environment. The only foreseeable requirement for developers is
                to host the files and some of the data for their game, as well as multiplayer, as we do not currently
                have the resources to host this data for them.


            </p>
        </article>

        <footer class="mastfoot mt-auto">
            <div class="inner">

            </div>
        </footer>

    </div>
</body>

</html>