<html>

<head>
    <!-- Title -->
    <title>Peperworx Entertainment</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Style Includes -->
    <!--<link href="/static/css/main.css" rel="stylesheet">-->
    <!--<link href="/static/css/home.css" rel="stylesheet">-->
    <link href="/static/css/login.css" rel="stylesheet">
    <link href="/static/css/aos.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.css" rel="stylesheet">

    <!-- Script includes -->
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/aos.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/particles.min.js"></script>
    <!--[if lt IE 9]>
    	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

</head>

<body>

    <div id="loginDiv">
        <form id="login" method="POST" action="/loginuser">
            <span id="loginTitle"><img src="/static/img/logo.jpg" id="loginImage"> &nbsp;Login to Peperworx</span>
            <br>
            <input class="input" type="text" name="user" id="user" autocomplete="off" placeholder="Username">
            <input class="input" type="password" name="pass" id="pass" autocomplete="off" placeholder="Password">
            <br><br>
            <input type="submit" name="submit" value="Submit" id="submitButton">
        </form>
    </div>

    <script>
        var form = new Vue({
            el: '#login',
            data: {
                username: "",
                password: ""
            }
        })
    </script>
</body>

</html>