<script src="/static/js/jquery.js"></script>
<!-- Matomo -->
<script type="text/javascript">
    var _paq = window._paq || [];
    _paq.push(["setCookieDomain", ".peperworx.com"]);
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    $.get({
        url: "/session",
        crossDomain: true
    }, function (data) {
        _paq.push(['setUserId', data["user"]["username"]]);
        console.log(data["user"]["username"])
        _paq.push(["setCookieDomain", ".peperworx.com"]);

    });
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);

    (function () {
        var u = "//dev.peperworx.com/matomo/";
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
    })();
</script>
<!-- End Matomo Code -->
<!-- Matomo Image Tracker-->
<noscript>
    <img src="https://dev.peperworx.com/matomo/matomo.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>
<!-- End Matomo -->